@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


* {
  margin:0;
  font-family: 'Maven Pro', sans-serif;
 
  

}
body{
    background:rgb(47, 46, 46);
    background:rgba(255, 255, 255, 0.815);
    overflow-x:hidden;
}

.skelBox{
  padding:2rem;
}

.skel{
  display:flex;
  justify-content: space-around;
  position:relative;
  bottom: 3rem;
 
}